<div class="calendar">
  <p class="calendar-label calendar__text">Search date news</p>
  <button
    type="button"
    id="menu-calendar"
    class="calendar-btn calendar__btn"
    width="20"
    height="20"
  >
    <svg class="icon-calendar calendar__icon">
      <use href="/src/images/icon.svg#icon-calendar"></use>
    </svg>
    <span class="calendar-btn-span">Select a date...</span>
    <svg class="icon-chevron categories__icon" width="14" height="14">
      <use href="/src/images/icon.svg#icon-arrow-down"></use>
    </svg>
  </button>

  <div class="wrapper">
    <div class="modal">
      <div class="calendar-header">
        <div class="date">
          <p class="current-date"></p>
          <span class="next-year">&#10094;</span>
          <div class="years"><ul></ul></div>
        </div>
        <div class="icons">
          <span id="prev" class="material-symbols-rounded">&#10094;</span>
          <span id="next" class="material-symbols-rounded">&#10095;</span>
        </div>
      </div>
      <div class="calendar-grid">
        <ul class="weeks">
          <li>Mo</li>
          <li>Tu</li>
          <li>We</li>
          <li>Th</li>
          <li>Fr</li>
          <li>Sa</li>
          <li>Su</li>
        </ul>
        <ul class="days"></ul>
      </div>
    </div>
  </div>
</div>
