<!-- 1. Зверстати header
2. Блок навігації з елементами
3. Поле для пошуку новин 
4. Перемикач теми -->
<header class="header">
  <div class="container header-container">
    <!-- <nav class="header-nav"> -->
    <nav class="container-nav">
      <a class="logo" href="./index.html">News</a>
      <!-- </nav> -->
      <ul class="header-navigation">
        <li class="menu-item">
          <a class="menu-link" id="home-link" href="./index.html">Home</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" id="favorite-link" href="./favorite.html"
            >Favorite</a
          >
        </li>
        <li class="menu-item">
          <a class="menu-link" id="read-link" href="./read.html">Read</a>
        </li>
      </ul>
    </nav>
    <div class="search">
      <form class="search-form" id="search-form">
        <input
          class="input-text"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search |"
        />
        <button type="submit" class="btn-search">
          <svg class="menu-icon-btn" width="20px" height="20px">
            <use href="/src/images/icon.svg#icon-bx_search"></use>
          </svg>
        </button>
      </form>
    </div>
    <include src="./partials/toggle-mode.html"></include>
  </div>
</header>
