<!-- <div class="burger-wraper container"> -->
<div class="mobile__menu-wraper">
  <!-- <a class="logo" href="./index.html">News</a> -->

  <!-- <div class="mobile__menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </div> -->
</div>
<div class="mobile__menu">
  <ul class="mobile__menu-list">
    <li class="mobile__menu-item">
      <svg class="mobile__menu-icon" width="32" height="32" stroke="#f4f4f4">
        <use href="./images/icon.svg#icon-home"></use>
      </svg>
      <a class="mobile__menu-link" id="home" href="./index.html">Home</a>
      <svg class="mobile__menu-icon__arrow" width="6" height="12">
        <use href="./images/icon.svg#arow-mobile"></use>
      </svg>
    </li>
    <li class="mobile__menu-item">
      <svg class="mobile__menu-icon" width="32" height="32" stroke="#f4f4f4">
        <use href="./images/icon.svg#icon-favorite"></use>
      </svg>
      <a class="mobile__menu-link" id="favorite" href="./favorite.html"
        >Favorite</a
      >
      <svg class="mobile__menu-icon__arrow" width="6" height="12">
        <use href="./images/icon.svg#arow-mobile"></use>
      </svg>
    </li>
    <li class="mobile__menu-item">
      <svg class="mobile__menu-icon" width="32" height="32" stroke="#f4f4f4">
        <use href="./images/icon.svg#icon-read"></use>
      </svg>
      <a class="mobile__menu-link" id="read" href="./read.html">Read</a>
      <svg class="mobile__menu-icon__arrow" width="6" height="12">
        <use href="./images/icon.svg#arow-mobile"></use>
      </svg>
    </li>
  </ul>
</div>

<!-- </div> -->
