<!-- <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> -->

  <!-- <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> -->

  <div class="container">
      <!-- <div class="dropdown"> -->
        <button id="dropBtn-js" class="dropbtn">21/01/2023
            <svg class="icon-down-read-pg" width="15" height="9">
                <use href="/src/icon.svg#icon-arrow-down"></use>
              </svg>
        </button>
       <hr>
          <ul class="news-list"></ul>
      <!-- </div> -->
    
      <!-- <div class="dropdown">
        <button class="dropbtn">21/01/2023
            <svg class="icon-down-read-pg" width="15" height="9">
                <use href="/src/icon.svg#icon-arrow-down"></use>
              </svg>
        </button>
       <hr>
          <ul class="news-list"></ul>
      </div>
    
      <div class="dropdown">
        <button class="dropbtn">21/01/2023
            <svg class="icon-down-read-pg" width="15" height="9">
                <use href="/src/icon.svg#icon-arrow-down"></use>
              </svg>
        </button>
       <hr>
          <ul class="news-list"></ul>
      </div>
    
      <div class="dropdown">
        <button class="dropbtn">21/01/2023
            <svg class="icon-down-read-pg" width="15" height="9">
                <use href="/src/icon.svg#icon-arrow-down"></use>
              </svg>
        </button>
       <hr>
          <ul class="news-list"></ul>
      </div>
    
      <div class="dropdown">
        <button class="dropbtn">21/01/2023
            <svg class="icon-down-read-pg" width="15" height="9">
                <use href="/src/icon.svg#icon-arrow-down"></use>
              </svg>
        </button>
       <hr>
          <ul class="news-list"></ul>
      </div> -->
  </div>