// wrapper modal (actually it is calendar)
.wrapper {
  position: absolute;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.modal {
  position: absolute;
  z-index: 999;
  width: 250px;
  height: 250px;
  background-color: $witeTextColor;
  border-radius: 20px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);

  transform: translateY(-200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-shown {
  opacity: 1;
  top: 0;
  left: 0;
  transform: translateY(0);
}

// inside the modal (calendar)
// header
.calendar-header {
  display: flex;
  align-items: center;
  padding: 25px 25px 0px 25px;
  justify-content: space-between;
}

.calendar-header .current-date {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  color: $shopNowButton;
}

.current-date {
  margin-right: 6px;
}

.date {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .date span {
  fill: $hoverColor;
   display: flex;
 }

.next-year,.prev-year  {
  cursor: pointer;
  color: $primarySwitchColor;
 }

.years {
  position: absolute;
  display: block;
  left: 120;
  top: 0;
  background: $witeTextColor;

  cursor: pointer;
}

.years ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.year-btn {
  border: none;
  background: $witeTextColor;
}

#prev,
#next,
.prev-year,
.next-year {
  color: $primarySwitchColor;
   cursor: pointer;
}

.calendar-icons {
  display: flex;
  align-items: center;
  gap: 18px;
  color: $hoverColor;
}

.calendar-icons span {
  fill: $hoverColor;
  display: flex;
}

.calendar-icons span:hover {
  background: $witeTextColor;
}

.calendar-grid {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

.calendar-grid ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar-grid li {
  color: $shopNowButton;
  width: calc(100% / 7);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
}

.calendar-grid .weeks li {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  cursor: default;
  color: rgba(60, 60, 67, 0.3);
}

// days
.days li:nth-child(7n + 7) .button,
.days li:nth-child(7n + 6) .button {
  color: #878787;
}

.current-month-day {
  color: $primarySwitchColor;
  border-color: $primarySwitchColor;
  border-radius: 50%;
}

.button {
  position: relative;
  width: 26px;
  height: 26px;
  border: none;
  padding: 0px;
  background-color: transparent;
  cursor: pointer;

  font-family: $primaryFontManrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.785;
    letter-spacing: 0.38px;
}

.button.inactive,
#inactive {
  color: rgba(60, 60, 67, 0.1);
}

.button.active {
  color: $witeTextColor;
}

.button::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  height: 26px;
  width: 26px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.button.active::before {
  background: $primarySwitchColor;
}
