.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 288px;
  height: 630px;
  @include tablet {
    width: 353px;
    height: 675px;
  }
  @include desktop {
    width: 395px;
  }
}
.wrap-image {
  position: relative;
  background-color: rgb(141, 129, 129);
}
.wrap-image__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: rgba(68, 64, 247, 0.7);
  min-width: 112px;

  color: $witeTextColor;
  border-radius: 0px 4px 4px 0px;
}

.wrap-image__btn {
  position: absolute;
  bottom: 12px;
  right: 8px;
  border-radius: 20px;
  min-width: 126px;
  height: 28px;
  border: transparent;
  color: $primaryTextColor;
  display: flex;

  gap: 6px;
  align-items: center;
  justify-content: center;
  @include tablet {
    right: 12px;
  }
}

.wrap-image__photo {
  object-fit: cover;
}

.card__tittle {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: $primaryTextColor;
  text-align: left;
  @include tablet {
    font-size: 32px;
    line-height: 44px;
  }
}

.card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: $primaryTextColor;
  @include tablet {
    font-size: 16px;
    line-height: 22px;
  }
}

.wrap-image__icon {
  display: block;
  fill: currentColor;
}

.wrap-info {
  display: flex;
  justify-content: space-between;
}

.wrap-info__time {
  font-size: 14px;
  line-height: 19px;
  text-align: right;

  color: $CalendarTextColor;
  @include tablet {
    font-size: 16px;
    line-height: 22px;
  }
}

.wrap-info__link {
  font-size: 14px;
  line-height: 19px;

  color: $hoverColor;
  @include tablet {
    font-size: 16px;
    line-height: 22px;
  }
}
