#categories-show {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  column-gap: 16px;
}

#categories-hide {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  width: max-content;
  // padding: 10px 20px;
  padding-right: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#categories-hide .categories__item {
  border: none;
  text-align: start;
  padding: 5px;
  // border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration-line: underline;
    background-color: inherit;
    color: $primarySwitchColor;
  }
}
#categories-toggler.mobile {
  padding: 7px 12px;
}
.filter {
  clip: auto;
  height: 300px;
  margin: 0;

  display: flex;
  flex-direction: column;
  top: 35px;
  left: 0;
  width: max-content;
  position: absolute;
  background: #f8f8f8;
  border: 1px solid #000;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 0;
  //   width: 150px;
}

.filter__btn span {
  font-family: $primaryFontManrope;
  margin-right: 10px;
}

// .filter__btn svg {
//   fill: currentColor;
// }
.categories__icon.rotate {
  transform: rotate(-180deg);
}
.categories__icon {
  fill: currentColor;
  transform: rotate(0deg);
  transition: transform $durationFunction $timingFunction;
}

.categories__item,
.filter__btn {
  display: flex;
  align-items: center;
  margin: 0;

  font-family: $primaryFontManrope;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3334;

  color: $primarySwitchColor;

  text-align: center;
  padding: 7px 22px;
  border: 1 solid;
  border-color: $primarySwitchColor;
  border-radius: 20px;
  cursor: pointer;

  transition: $durationFunction $timingFunction;
  transition-property: background-color, border-color;

  &:hover,
  &:focus {
    background-color: $primarySwitchColor;
    color: $witeTextColor;
    border-color: $primarySwitchColor;
  }
}

#menu-calendar.filter__btn {
  padding-right: 30px;
  width: 168px;
}

.categories {
  font-family: $primaryFontManrope;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 16px;
  // padding-left: 16px;
  // padding-right: 16px;

  max-width: 320px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.categories__container {
  position: relative;
  margin-right: auto;
  margin-left: 16px;
}

.categories__container.no-categories {
  margin-left: 0px;
}

.calendar {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  align-items: center;
}

.wrapper {
  top: 36px;
  right: 0;

  @media screen and (min-width: 1280px) {
    right: 36px;
  }
}

.calendar__text {
  white-space: nowrap;
  font-size: 18px;
  line-height: 1.3888;
  font-weight: 700;
}

.calendar__btn {
  margin: 0;
  width: 168px;
  display: flex;
  align-items: center;

  font-family: $primaryFontManrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  //color: $primaryTextColor;
  color: #a2a2a2;
  text-align: center;
  padding: 5px 22px;
  border: 1 solid;
  border-color: $primaryTextColor;
  border-radius: 20px;
  cursor: pointer;

  transition: $durationFunction $timingFunction;
  transition-property: background-color, border-color;

  &:hover,
  &:focus {
    background-color: $primarySwitchColor;
    color: $witeTextColor;
    border-color: $primarySwitchColor;
    & .calendar__icon {
      fill: currentColor;
    }
  }
  & span {
    // color: #f8f8f8;
    padding: 0 12px;
  }
  & .calendar__icon {
    fill: $primarySwitchColor;
  }

  @media screen and (min-width: 1280px) {
    margin: 0 37px;
  }
}

.calendar__icon {
  fill: currentColor;
}
