.burger-wraper {
  // display: none;
}

.mobile__menu-wraper {
  display: none;
  align-items: center;
  width: 100%;
}

// .logo {
//   z-index: 2;
//   font-family: $primaryFontManrope;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 33px;
//   color: $primaryTextColor;
// }

.mobile__menu-btn {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-left: auto;
  @include tablet {
    display: none;
  }
}

.mobile__menu-btn span {
  width: 18px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--header-text-color);
  transition: all 0.5s;
}

.mobile__menu-btn span:nth-of-type(2) {
  top: calc(50% - 6px);
}

.mobile__menu-btn span:nth-of-type(3) {
  top: calc(50% + 6px);
}

/* Меню, которое будет появляться */
.mobile__menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mobile__menu-list {
  display: flex;
  flex-direction: column;
  margin-top: 131px;
  gap: 24px;
}

.mobile__menu.isMenuOpen {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition-delay: 0.4s;
}

.isMenuOpen {
  background-color: var(--color-bg);
}

.mobile__menu-item {
  display: flex;
  height: 44px;
  list-style-type: none;
  align-items: center;
  gap: 13px;
  // background-color: $hoverColor;
}

.mobile__menu-link {
  font-family: $primaryFontManrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--header-text-color);
  display: block;
  width: 100%;
}

.mobile__menu-item.active {
  background-color: $hoverColor;
}

.mobile__menu-item.active .mobile__menu-link {
  color: $TextColor;
}

.mobile__menu-item.active .mobile__menu-icon {
  stroke: $TextColor;
  // stroke-width: 1.5px;
}

.mobile__menu-item.active .mobile__menu-icon__arrow {
  stroke: $TextColor;
}

.mobile__menu-icon {
  margin-left: 16px;
  stroke: none;
}

.mobile__menu-icon__arrow {
  margin-left: auto;
  margin-right: 10px;
  fill: none;
}

// .mobile__menu-link {

// }

/* Меняем гамбургер иконку, когда меню открыто */
.mobile__menu-btn.isMenuOpen span:nth-of-type(1) {
  display: none;
}

.mobile__menu-btn.isMenuOpen span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.mobile__menu-btn.isMenuOpen span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
